N8N_VERSION=stable

POSTGRES_USER=changeUser
POSTGRES_PASSWORD=changePassword
POSTGRES_DB=n8n

POSTGRES_NON_ROOT_USER=changeUser
POSTGRES_NON_ROOT_PASSWORD=changePassword

ENCRYPTION_KEY=changeEncryptionKey

RUNNERS_AUTH_TOKEN=changeRunnerAuthToken

N8N_HOST=N8N_HOST
N8N_PORT=N8N_PORT
N8N_PROTOCOL=N8N_PROTOCOL
WEBHOOK_URL=WEBHOOK_URL
